@-webkit-keyframes glowing {
  0% { background-color: #ffb200; -webkit-box-shadow: 0 0 3px #ffb200; }
  50% { background-color: #FFFF00; -webkit-box-shadow: 0 0 40px #FFFF00; }
  100% { background-color: #FFB200; -webkit-box-shadow: 0 0 3px #FFB200; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #FFB200; box-shadow: 0 0 3px #FFB200; }
  50% { background-color: #FFFF00; box-shadow: 0 0 40px #FFFF00; }
  100% { background-color: #FFB200; box-shadow: 0 0 3px #FFB200; }
}